.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.logo .dev {
  font-size: 24px;
  font-weight: bold;
  background: -webkit-linear-gradient(#db084e, #65fcdb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo span {
  margin-top: 8px;
  font-size: 6px;
  font-weight: bold;
  border: 1px solid var(--clr-icon);
  color: var(--clr-icon);
  border-radius: 50%;
  padding: 2px 2px 0px 2px;
}

@media screen and (max-width: 620px) {
  .logo {
    margin-top: -24px;
  }
}
