.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.logo .dev {
  font-size: 22px;
}
.logo .hub {
  font-size: 22px;
  color: var(--clr-icon);
  padding: 10px 2px;
  border-radius: 4px;
}
.logo span {
  font-size: 6px;
  font-weight: bold;
  border: 1px solid gold;
  color: gold;
  border-radius: 50%;
  padding: 2px 2px 0px 2px;
}

@media screen and (max-width: 620px) {
  .logo {
    margin-top: -24px;
  }
}
